<div class="container">
  <div class="row">

    <div class="col-md-auto">
      <div class="card" style="width: 15rem;">
        <div class="zoom">
          <img class="card-img-top img-fluid" style="width: 8rem;" src="./assets/Heroes/marvim.jpg">
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <strong>Marvim</strong>
          </h5>
          <p class="card-text">Marvin is afflicted with severe depression and boredom, in part because he has a "brain the size of a planet which he is seldom, if ever, given the chance to use.</p>
        </div>
      </div>
    </div>

    <div class="col-md-auto">
      <div class="card" style="width: 15rem;">
        <div class="zoom">
          <img class="card-img-top img-fluid" style="width: 9rem;" src="./assets/Heroes/arthurdent.jpg">
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <strong>Arthur Dent</strong>
          </h5>
          <p class="card-text">Arthur Dent was one of two Earthlings to escape the planet Earth before it was demolished and also the protagonist.</p>
        </div>
      </div>
    </div>

    <div class="col-md-auto">
      <div class="card" style="width: 15rem;">
        <div class="zoom">
          <img class="card-img-top img-fluid" style="width: 10rem;" src="./assets/Heroes/fordprefect.png">
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <strong>Ford Prefect</strong>
          </h5>
          <p class="card-text">Ford is an experienced galactic hitch-hiker and he is actually an alien journalist, a field researcher for the titular Guide itself.</p>
        </div>
      </div>
    </div>

    <div class="col-md-auto">
      <div class="card" style="width: 15rem;">
        <div class="zoom">
          <img class="card-img-top img-fluid" style="width: 10rem;" src="./assets/Heroes/babelfish.jpg">
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <strong>Babel Fish</strong>
          </h5>
          <p class="card-text">The Babel fish is small, yellow, leech-like - and probably the oddest thing in the universe. It feeds on brain wave energy. It is a universal translator.</p>
        </div>
      </div>
    </div>

  </div>
</div>