<div class="container">
  <div class="row">
    <div class="col-sm-0">
      <img src="assets/marvim.jpg">
    </div>
    <div class="col" id="text">
      <h3>
        - Hmn.. Ehh.. My name is Marvin and I`m a character from the book <strong>"The Hitchhiker`s Guide to the Galaxy"</strong>. Yeah, yeah, I know, nobody cares.. me neither but I was created for one purpose and one purpose only, to introduce you this page, that is sad. "Life! Don't talk to me about life.”
        <br><br>
        - So, this page is using Angular, Bootstrap and Spring and was coded by <strong>Kelvin Gonzaga</strong> to show all mortals some of the greatests Heroes of the planet "Betelgeuse Five". 
        <br>
        Enjoy it ! 
        <small>because I`m not.</small> 
      </h3>
    </div>
  </div>
</div>